@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 263 70% 50%;

    --card: 0 0% 100%;
    --card-foreground: 263 70% 50%;

    --popover: 0 0% 100%;
    --popover-foreground: 263 70% 50%;

    --primary: 264 67% 35%;
    --primary-foreground: 250 100% 98%;

    --secondary: 251 91% 95%;
    --secondary-foreground: 264 67% 35%;

    --muted: 251 91% 95%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 251 91% 95%;
    --accent-foreground: 264 67% 35%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 250 100% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 263 70% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 263 70% 50%;
    --foreground: 250 100% 98%;

    --card: 263 70% 50%;
    --card-foreground: 250 100% 98%;

    --popover: 263 70% 50%;
    --popover-foreground: 250 100% 98%;

    --primary: 250 100% 98%;
    --primary-foreground: 264 67% 35%;

    --secondary: 263 69% 42%;
    --secondary-foreground: 250 100% 98%;

    --muted: 263 69% 42%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 263 69% 42%;
    --accent-foreground: 250 100% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 250 100% 98%;

    --border: 263 69% 42%;
    --input: 263 69% 42%;
    --ring: 252 95% 85%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  * {
    text-transform: lowercase;
  }

  button {
    text-transform: lowercase;
  }
}